agm-map {
    height: 400px;
  }
  
  .autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
  }

  .weather-block {
    margin: 0 auto;
  }

  .weather {
    float: left;
    background-color: rgb(165, 222, 230);
    margin: 15px;
    border: 2px solid #ec6e4c ;
    text-align: center;
  }